{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Logout</title>
    <meta name="description" content="Сайт для курсовой работы по программированию">
    <link rel="stylesheet" href="{% static 'style_main.css' %}" />
</head>
<body>
    <h1>Logged out</h1>
    <p><h>You have been successfully logged out. You can</h> <a class = "link2" href="{% url 'login' %}">log-in again</a>.</p>
</body>
{% endblock %}