{% load static %}
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Reset</title>
    <link rel="stylesheet" href="{% static 'style_reg.css' %}" />
</head>


    <div class="form">
    <h1>Forgotten your password?</h1>
    <p>Enter your e-mail address to obtain a new password.</p>
    <form action="." method="post">
        <p><input type="email" id="email" name="email"></p>
        <p><input class= "sub_style" type="submit" value="Send e-mail"></p>
        {% csrf_token %}
    </form>
        <p><h>Remembered your password?</h> <a class = "link" href="{% url 'login' %}"> Log In </a> </p>
    </div>