{% load static %}
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Reset Confirm</title>
    <link rel="stylesheet" href="{% static 'style_reg.css' %}" />
</head>
<body>
<div class = "form">
    <h1>Reset your password</h1>
    {% if validlink %}
        <p>Please enter your new password twice:</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
            {% csrf_token %}
            <p><input class = "sub_style" type="submit" value="Change my password"/></p>
        </form>
    {% else %}
        <p>The password reset link was invalid, possibly because it has
            already been used. Please request a new password reset.</p>
    {% endif %}
</div>
</body>